.hoKhauShow_container{
    -fx-background-color: #FFFFFF;
}
.hoKhauShow_container Text{
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
    -fx-font-weight: bold;
    -fx-text-fill: #561B1B;
}
.hoKhauShow_container TextField{
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,5,0,0,5);
}

.hoKhauShow_container Button{
    -fx-background-color: linear-gradient(to right,#373c7d,#3998e6);
    -fx-effect: dropshadow(three-pass-box,#373c7d,3,0,0,4);
    -fx-pref-width: 110;
    -fx-pref-height: 35;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.4em;
}
.hoKhauShow_container Button:hover{
    -fx-cursor: hand;
}
.hoKhauShow_container .list-view{
    -fx-background-color: #EEEEEE;
    -fx-padding: 5;
}
.hoKhauShow_container .list-cell{
    -fx-background-color: #EEEEEE;
}
.hoKhauShow_container .list-cell:hover{
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}
