
.maunen{
        -fx-background-color:#EAEEF4;
}

.trangtri_top{
    -fx-background-color: STEELBLUE;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    /*-fx-border-style: solid;*/
    /*-fx-border-color: #748CF1;*/
    -fx-text-fill: #000000;
}
.pain{
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;

}
.pain:hover{
    -fx-cursor: hand;
    -fx-background-color: LIGHTSKYBLUE;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.pain:pressed {
    -fx-background-color: #eeeeee;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}
.button_quaylai{
    -fx-background-color:STEELBLUE;
    -fx-text-fill: #FFFFFF;

}

.button_quaylai FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.button_quaylai:hover{
    -fx-cursor: hand;
}

.my_text:hover {
    -fx-font-size: 24px;
    -fx-text-fill: #0e9637;
    -fx-font-weight: bold;
}

.ronaldo:hover {
    -fx-font-size: 13px;
    -fx-fill: #0e9637;
}
.profile:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

.profile:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.text_field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #353A56;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.text_field:hover {
    -fx-background-color: #F0F0F0;
}

.text_field:focused {
    -fx-background-color: #E0E0E0;
    -fx-border-color: #0066FF;
}

.pane_sokhoanphi{
    -fx-background-color: #88F7F6;
}
.pane_sotien{
    -fx-background-color: #F3F8AD;
}

.pane_sonhankhau{
    -fx-background-color: #7EA4F0;
}

.pane_sohokhau{
    -fx-background-color: #C1EBC4;
}


