.container {
       -fx-background-color: linear-gradient(to right bottom,  rgba(255,255,255,1) 0%, rgba(255,246,244,1) 60%, rgba(207,247,255,1) 100%);
}

.button_search {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #7B68EE;
    -fx-pref-width: 100;
    -fx-pref-height: 25;
    -fx-font-size: 1.1em;
}


.container Text {
    -fx-fill: #000000;
    -fx-font-size: 1.5em;
    -fx-font-family: "Camlibri Light";
}

.button_add {
    -fx-background-color: Green;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button_add FontAwesomeIconView {
    -fx-fill: White;
}

.button_remove {
    -fx-background-color: red;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button_remove FontAwesomeIconView {
    -fx-fill: White;
}

.button_tachkhau{
    -fx-background-color: #FFCC33;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.button_tachkhau FontAwesomeIconView {
    -fx-fill: White;
}
