.form {
    -fx-background-color: linear-gradient(to right bottom,  rgba(255,255,255,1) 0%, rgba(255,246,244,1) 60%, rgba(207,247,255,1) 100%);
}

.image:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.image:pressed {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}