.form {
    -fx-background-color: #bec4cc;
}
.error_alert {
    -fx-text-fill: #ff0000;
    -fx-font-family: Calibri;
    -fx-font-style: Italic;
    -fx-font-size: 14px;
}
.login_switchRegister:hover {
    -fx-text-fill: #47f00a;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}
.login_switchRegister:pressed {
    -fx-text-fill: red;
}

.register_switchLogin:hover {
    -fx-text-fill: #47f00a;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}
.register_switchLogin:pressed {
    -fx-text-fill: red;
}

/* Button */
.button_style {
    -fx-background-color: #060c54;
    -fx-border: none;
    -fx-border-radius: 5px;
    -fx-text-style: Verdana;
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
}

.button_style:hover {
    -fx-cursor: hand;
    -fx-text-style: bold;
    -fx-background-color: #373c7d;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.button_style:focus {
    -fx-outline-color: transparent;
    -fx-outline-style: solid;
}
.button_style:pressed {
    -fx-background-color: #3998e6;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

/* Slider Style*/
.slider_style {
    -fx-background-image: url('../images/login_form/city.png');
    -fx-background-size: cover;
}
.slider_style Label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Verdana;
    -fx-alignment: center;

}
.slider_style .label1 {
    -fx-font-size: 32px;
    -fx-font-weight: Bold;
}
.slider_style .timeLabel {
    -fx-font-size: 54px;
    -fx-font-weight: Bold;
}
.slider_style .dateLabel {
    -fx-font-size: 24px;
    -fx-font-style: normal;
}
.slider_style FontAwesomeIconView {
    -fx-fill: #ff7700;
}

.input_text_field {
    -fx-background-color: #f0eeed;
}
.input_text_field:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}