.cell_container {
    -fx-background-color : #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 1, 1, 1, 1);
}

.icon_container {
    -fx-background-color: #FFFFFF;
    -fx-alignment : center;
    -fx-spacing: 5;
}
.cell_container:hover {
    -fx-background-color: #c7d4cb;
}
.date_lbl {
    -fx-text-fill: #222222;
    -fx-font-weight: 700;
}

.ten_lbl {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.cell_container Line {
    -fx-stroke : #EEEEEE;
    -fx-font-weight: bold;
}

