.maunen{
    -fx-background-color:#EAEEF4;
}
.trangtri_top{
    -fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    /*-fx-border-style: solid;*/
    /*-fx-border-color: #748CF1;*/
    -fx-text-fill: #000000;
}
.pain{
    -fx-background-color:#ffffff;

    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;

}
.pain:hover{
    -fx-cursor: hand;
    -fx-background-color:#8AD1EB;
}

.button_quaylai{
    -fx-background-color: #353A56;
    -fx-text-fill: #FFFFFF;

}

.button_quaylai FontAwesomeIconView{
    -fx-fill: #FFFFFF;
}

.button_quaylai: hover{
    -fx-cursor: hand;
}

.name {
    -fx-font-weight: bold;
}
.name:hover {
    -fx-font-size: 36px;
    -fx-text-fill: #0ffc03;
}
.text_field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-border-color: #353A56;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.text_field:hover {
    -fx-background-color: #F0F0F0;
}

.text_field:focused {
    -fx-background-color: #E0E0E0;
    -fx-border-color: #0066FF;
}





